{% extends 'shop/base.html' %}
{% load static %}
{% block content %}

<div class="container">

	<div class="row">

		<div class="col-lg-3 my-4">
			<div class="list-group">
                {% for category in categories %}
                    {% if category.id == current_category.id %}
                        <a href="{% url 'shop_category' category.id %}"
                            class="list-group-item list-group-item-action active">{{ category.category_name }}</a>
                    {% else %}
                        <a href="{% url 'shop_category' category.id %}"
                            class="list-group-item list-group-item-action">{{ category.category_name }}</a>
                    {% endif %}
                    
				{% endfor %}
			</div>

		</div>
		<div class="col-lg-9 my-4">
			
			<div class="row">
				{% if products %}
					{% for product in products %}
					<div class="col-lg-4 col-md-6 mb-4">
						<div class="card h-100">
							<a href="#"><img class="card-img-top" src="{{ product.product_picture.url }}" alt=""></a>
							<div class="card-body">
								<h4 class="card-title">
									<a href="{% url 'shop_item_details' product.id %}">{{ product.product_name }}</a>
								</h4>
								<h5>{{ product.product_price }} Taka</h5>
								<p class="card-text">{{ product.product_description|slice:":80" }}</p>
							</div>
							<div class="card-footer">
								{% for product_item, review_score in product_review_dict.items %}
									{% if product.id == product_item.id %}
									Rating: 
										{% if review_score == 0 or review_score < 1 %}
											<span class="text-warning">&#9734; &#9734; &#9734; &#9734; &#9734;</span>
										{% elif review_score == 1 or review_score < 2 %}
											<span class="text-warning">&#9733; &#9734; &#9734; &#9734; &#9734;</span>
										{% elif review_score == 2 or review_score < 3 %}
											<span class="text-warning">&#9733; &#9733; &#9734; &#9734; &#9734;</span>
										{% elif review_score == 3 or review_score < 4 %}
											<span class="text-warning">&#9733; &#9733; &#9733; &#9734; &#9734;</span>
										{% elif review_score == 4 or review_score < 5 %}
											<span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
										{% else %}
											<span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9733;</span>
										{% endif %}
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
					{% endfor %}
				{% else %}
					<h3>No Product Found!</h3>
				{% endif %}
			</div>
			
		</div>
	</div>
</div>

{% endblock content %}

{% block footer_scripts %}
	
{% endblock footer_scripts %}