{% extends 'shop/base.html' %}

{% block content %}
	
	<!-- Page Content -->
	<div class="container">

		<div class="row">

			<div class="col-lg-3 my-4">
				
				<div class="list-group">
					{% for category in categories %}
						<a href="{% url 'shop_category' category.id %}" class="list-group-item list-group-item-action">{{ category.category_name }}</a>
					{% endfor %}
				</div>
			</div>

			<div class="col-lg-9">

				<div class="card mt-4">
					<img class="card-img-top img-fluid" src="{{ product.product_picture.url }}" alt="">
					<div class="card-body">
						<h3 class="card-title">{{ product.product_name }}</h3>
						<h4>{{ product.product_price }} Taka</h4>
						<p class="card-text">{{ product.product_description }}</p>
						<span class="text-warning">
							{% if review_score == 0 or review_score < 1 %}
								&#9734; &#9734; &#9734; &#9734; &#9734;
							{% elif review_score == 1 or review_score < 2 %}
								&#9733; &#9734; &#9734; &#9734; &#9734;
							{% elif review_score == 2 or review_score < 3 %}
								&#9733; &#9733; &#9734; &#9734; &#9734;
							{% elif review_score == 3 or review_score < 4 %}
								&#9733; &#9733; &#9733; &#9734; &#9734;
							{% elif review_score == 4 or review_score < 5 %}
								&#9733; &#9733; &#9733; &#9733; &#9734;
							{% else %}
								&#9733; &#9733; &#9733; &#9733; &#9733;
							{% endif %}
						</span> ({{ total_reviews }} Reviews)
					</div>
				</div>

				<div class="card card-outline-secondary my-4">
					<div class="card-header">
						Product Reviews ({{ total_reviews }})
					</div>
					<div class="card-body">
						{% if reviews|length > 0 %}
							{% for review in reviews %}
								<p>{{ review.2 }}</p>
								<small class="text-muted">Posted by {{ review.0 }}</small><br>
								<span class="text-warning">
									{% if review.1 == 0 or review.1 < 1 %}
										&#9734; &#9734; &#9734; &#9734; &#9734;
									{% elif review.1 == 1 or review.1 < 2 %}
										&#9733; &#9734; &#9734; &#9734; &#9734;
									{% elif review.1 == 2 or review.1 < 3 %}
										&#9733; &#9733; &#9734; &#9734; &#9734;
									{% elif review.1 == 3 or review.1 < 4 %}
										&#9733; &#9733; &#9733; &#9734; &#9734;
									{% elif review.1 == 4 or review.1 < 5 %}
										&#9733; &#9733; &#9733; &#9733; &#9734;
									{% else %}
										&#9733; &#9733; &#9733; &#9733; &#9733;
									{% endif %}
								</span>
								<hr>
							{% endfor %}
						{% else %}
							<p>No reviews yet!</p>
						{% endif %}
						<a href="#" class="btn btn-success">Leave a Review</a>
					</div>
				</div>
				<!-- /.card -->

			</div>
			<!-- /.col-lg-9 -->

		</div>

	</div>
	{% endblock content %}